form.update-about-me {
    font-size: 14px;
    margin: 8em 3em;
    text-align: left;
    max-width: none;
    display: block;
    visibility: visible;
    opacity: 1;
}

.testform {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form-input{
    width: 90%;
    height: 25px;
    outline: none;
}

.form-textarea {
    width: 100%;
    border: 2px solid var(--blue-color);
    height: 300px;
    outline: none;
}

@media screen and (min-width:640px) {
    .form-input{
        width: 30%;
    }
}