@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.App{
    font-family: 'PT Sans Narrow', sans-serif;
    color: #fff;
    text-align: center;
}

html {
    background-color: #021b39;
}