@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');

.App{
    font-family: 'PT Sans Narrow', sans-serif;
    color: #fff;
    text-align: center;
}

html {
    background-color: #021b39;
}