.about-me-presentation {
    font-family: Roboto;
    font-style: italic;
    background-image: linear-gradient(#ffc3ca,#a8a9e7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 18px;
    margin: 8em 3em;
    text-align: left;
    max-width: none;
    display: block;
    visibility: visible;
    opacity: 1;
}

.footer-container {
    background-image: linear-gradient(#ffc3ca,#a8a9e7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin-bottom: 20px;
}


.github, .linkedin, .mail{
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    color: #fff;
    text-decoration: none;
}

.linkedin:hover {
    color: #0073a4;
}

.github:hover {
    color: black;
    background-color: #fff;
}

.logo-container{
    margin-top: 10px;
font-size: x-large;
}

.logo-container a {
    margin : 3px
}